<table class="table table-hover">
    <thead>
        <th>Correo</th>
        <th>Numero</th>
        <th>Cantidad</th>
        <th>Numero Regalado</th>
        <th>Cantidad Regalado</th>

        <th>fecha</th>
    </thead>
    <tbody>
        <tr *ngFor="let emp of list">
            <td>{{ emp.correo }}</td>
            <td>{{ emp.numero }}</td>
            <td>{{ emp.cantidad }}</td>

            <td>{{ emp.numero }}</td>
            <td>{{ emp.cantidadR }}</td>
            <td>{{ emp.fecha | date: "short" }}</td>
        </tr>
    </tbody>
</table>